<div id="<%= dom_id article %>">
  <p>
    <strong>Título:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= article.link %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Usuário:</strong>
    <%= article.user.name %>
  </p>

</div>
