<h1 class="text-center p-5">Pesquise Notícias Mundiais</h1>

<%= form_with url: articles_path, class: 'd-flex position-absolute start-50 translate-middle top-40', method: :get, local: true do %>
  <%= label_tag :query, "Digite palavra-chave:", class: 'mt-2 me-2' %>
  <%= text_field_tag :query, params[:query], class: 'me-2', placeholder: "Ex: tecnologia, economia..." %>
  <%= submit_tag "Buscar", class: 'btn btn-outline-success' %>
<% end %>

</br>
<% if params[:query].present? %>
    <hr>
  <h2 class="text-center">Resultados:</h2>

  </br>
  <% if @external_news.any? %>
    <% @external_news.each do |news| %>
      <div>
        <%= form_with model: SavedNews.new, url: saved_news_index_path, remote: true, local: false, class: "text-end" do |form| %>
          <%= form.hidden_field :title, value: news.title %>
          <%= form.hidden_field :description, value: news.description %>
          <%= form.hidden_field :url, value: news.url %>
          <%= form.submit "Ler mais tarde", class: "btn btn-primary btn-save-news" %>
        <% end %>

        <h3><%= news.title %></h3>
        <p><%= news.description %></p>
        <a href="<%= news.url %>" target="_blank">Leia mais →</a>
        <hr>

      </div>
    <% end %>
  <% else %>
    <p>Nenhuma notícia encontrada.</p>
  <% end %>
<% end %>

